#result {
  color: #666666;
}

.DatePicker {
  width: 90%;
  margin: 1em auto;
}

@media (max-width:500px) {
  .DatePicker {
    width: 95%;
    margin: 1em auto;
  }
}

@media (max-width:330px) {
  .DatePicker {
    width: 100%;
    margin: 1em auto;
  }
}

.main_logo {
  margin-top: 100px;
}

.icon {
  display: block;
  margin: auto;
}

